/* This is largely copied from styles.css. It's meant to run in the shadow DOM
* The primary reason to separate it out is because we can't control the base value for 'rem'
* in the shadow DOM, so we need to use 'px' instead. It's also helpful to separate it so we don't accidentally break one or the other.
*/
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.align-end {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}
.u-mt-8 {
  margin-block-start: 8px !important;
}

.video-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.video-list__item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
}
.video-list__item + .video-list__item {
  border-block-start: 1px solid #ddd;
}

.video-list__item__content {
  flex: 1;
}
.video-list__item__content h3 {
  font-size: 14px;
  font-weight: normal;
  margin-block: 0;
}
.video-list__item__content h3 a {
  color: #555;
  text-decoration: none;
}
.video-list__item__content p {
  font-size: 12px;
  margin-block: 4px 0;
  color: #555;
}

.combo-btn {
  display: flex;
  align-items: center;
}

.combo-btn .icon-btn {
  border-radius: 0 0.5rem 0.5rem 0;
}

.combo-btn .btn {
  border-radius: 0.5rem 0 0 0.5rem;
  border-inline-end: none;
}

@media screen and (max-width: 600px) {
  .video-list__item {
    flex-wrap: wrap;

    .video-actions {
      width: 100%;
    }
  }
  .video-list__item .combo-btn,
  .video-list__item .btn {
    width: 100%;
  }
}

.video-list__graphic {
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 15%);
  overflow: hidden;
  min-width: 40px;
  text-align: center;
}
.video-list__graphic div {
  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: #333;
  text-transform: uppercase;
}
.video-list__graphic span {
  display: grid;
  width: 100%;
  padding: 4px;
  place-content: center;
}
.video-list__graphic svg {
  width: 18px;
  height: 18px;
}
.video-list__graphic.is-red svg {
  fill: #a31f34;
}
.video-list__graphic.is-green {
  background-color: #e6fde2;
}
.video-list__graphic.is-green svg {
  fill: #007c13;
}
.video-list__graphic.is-loading svg {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

.btn {
  background: none;
  border: none;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-height: 40px;

  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }

  &.has-icon {
    padding-inline: 8px 16px;
    gap: 8px;
  }

  &.is-downloading svg {
    animation: rotate 1s linear infinite;
  }

  &:hover {
    background-color: rgb(0 0 0 / 5%);
    text-decoration: none;
    cursor: pointer;
  }
}
.btn--primary-black,
a.btn--primary-black {
  background-color: black;
  color: white;

  &:hover {
    background-color: rgb(0 0 0 / 80%);
  }
}
.btn--primary-outlined,
a.btn--primary-outlined {
  border: 1px solid #a31f34;
  color: #a31f34;

  svg {
    fill: #a31f34;
  }

  &:hover {
    background-color: #faf1f1;
  }
}
.btn--primary-black-outlined {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;

  svg {
    fill: black;
  }

  &:hover {
    background-color: #f6f7f9;
  }
}
.icon-btn {
  border: 1px solid #ddd;
  background-color: rgb(255 255 255 / 85%);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  height: 32px;
  width: 32px;
  padding: 0;
  display: grid;
  place-content: center;
  transition: background-color 100ms ease;

  svg {
    width: 18px;
    height: 18px;
    fill: black;
  }

  &:hover {
    background-color: rgb(255 255 255 / 100%);
    cursor: pointer;
  }
}
.icon-btn--outlined {
  background: none;
  border: 1px solid black;
  height: 40px;
  width: 40px;

  svg {
    width: 24px;
    height: 24px;
    fill: black;
  }

  &:hover {
    background-color: #f6f7f9;
    cursor: pointer;
  }
}

video {
  display: block;
  width: 100%;
  background-color: black;
}

.error-message {
  color: #a31f34;
  font-size: 14px;
  font-weight: bold;
  margin-block: 0;
}

.video-list__banner {
  background-color: #faf1f1;
  padding: 8px 12px;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #ddd;

  svg {
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    fill: #a31f34;
  }

  p {
    margin-block: 0;
    font-size: 14px;
    color: #a31f34;
  }
}

/* Mimics the message styles from the zip files */
.offline-message {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  border: 1px solid #0000;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: relative;
}
